<!-- 地図のキャンパス -->
<div class="map-embed">
    <div id="offsetWidth"></div>
    <div class="offsetWidth"></div>
    <div id="map-canvas">ここに地図が表示されます</div>
</div>

<div class="check-group check-group-size clearfix">
    <%= check_box_tag "","",checked=false,{:class => "course_recoreding",:id => "course_recoreding"} %>
    <%= label_tag "course_recoreding","コース登録開始",class: "button button-size"%>
</div>

